
h2 {
    font-weight: 700; 
  }
  

  .aboutus {
    padding: 2em;
  }
  

  .aboutus {
    background: rgba(214, 211, 221, 0.8);
    font-size: 1.2rem;
    margin-bottom: 2em;
  }
  


  
   
  .aboutus p {
    line-height: 1.6;
  }
 
  .aboutus {
    margin: 2em 4em;
  }
  
  
  .aboutus {
    box-shadow: 0 4px 16px rgba(179, 145, 145, 0.1);
  }