/* Login.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the container height to 100% of the viewport height */
  background-color: #000; /* Set a background color for the entire page */
}

.login-page {
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 50px; /* Adjust the margin-top value to move the card lower */
}

.login-page h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

.login-page p {
  margin: 20px 0;
  color: #fff;
}



.login-page input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
}

.login-page button {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.login-page button:hover {
  background-color: #0062cc;
}


