/* Navbar.css */

.navbar {
  
  color: rgb(12, 12, 12);
  padding: 15px 20px;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
}

.nav-item:hover {
  text-decoration: underline;
}

a {
  color: rgb(0, 0, 1);
  text-decoration: none;
}

a:hover {
  color: #0b0b0b;
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(221, 26, 26);
  min-width: 160px;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #c62424;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

 

body {
  background-image: url('../../public/image/main.JPG');
  background-size: contain;
  background-position: center;  
  background-repeat: no-repeat;
  max-width: 20000px; 
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 1200px) {
  body {
    background-image: url('../../public/image/main.JPG');
  }
}









@media (max-width: 768px) {
  body {
    background-image: url('../../public/image/main.JPG'); 
  }
}