.App {
  text-align: center;
  background-image: url("fultonmindmatters/public/image/mental.png"); 
  background-size: cover; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
}

